[package]
name = "sp-ark-bls12-377"
version = "0.4.0"
authors = ["Parity Technologies <admin@parity.io>", "Achim Schneider <achim@parity.io>", "arkworks contributors" ]
repository = "https://github.com/paritytech/ark-substrate"
description = "The BLS12-377 pairing-friendly elliptic curve, optimized for Substrate"
keywords = ["cryptography", "finite-fields", "elliptic-curves", "substrate" ]
categories = ["cryptography"]
include = ["Cargo.toml", "src", "README.md", "LICENSE-APACHE", "LICENSE-MIT"]
license = "MIT/Apache-2.0"
edition = "2021"
publish = true

[dependencies]
ark-ff = { version="0.4.0-alpha", default-features = false }
ark-r1cs-std = { version="0.4.0-alpha", default-features = false, optional = true }
ark-std = { version = "0.4.0", default-features = false }
ark-serialize = { version = "0.4.0", default-features = false }
ark-bls12-377 = { version = "0.4.0",default-features = false, features = ["curve"] }
sp-ark-models = { path = "../../models", default-features = false }
sp-ark-utils = { path = "../utils", default-features = false  }

[dev-dependencies]
ark-relations = { version = "0.4.0", default-features = false }
ark-ec = { version = "0.4.0", default-features = false }
ark-algebra-test-templates = { version = "0.4.0", default-features = false }
ark-curve-constraint-tests = { path = "../curve-constraint-tests", default-features = false }
sp-io =  { version = "7.0.0", default-features= false }


[features]
default = [ "std"  ]
std = [ 
    "ark-ff/std",
    "ark-r1cs-std/std", 
    "ark-std/std", 
    "ark-serialize/std",
    "ark-bls12-377/std",
    "sp-ark-models/std",
    "ark-relations/std",  
    "sp-ark-utils/std",
    "ark-ec/std",
    "ark-algebra-test-templates/std",
    "ark-curve-constraint-tests/std",
    "sp-io/std"
]

curve = [ "scalar_field", "base_field" ]
scalar_field = []
base_field = []
r1cs = [ "base_field", "ark-r1cs-std" ]

